body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}
svg {
	fill: #ffffff;
}
h1,
h2,
p {
	margin: 4px;
}
h1 {
	font-size: 24px;
}
a {
	text-decoration: none;
	color: #727272;
}
.app {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
}
.app_container {
	position: relative;
	height: 750px;
	width: 380px;
	border-radius: 40px;
	background-color: #262627;
	padding: 20px;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
.sub-text {
	color: #727272;
}
header .image-container {
	width: 40px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
header .image-container img {
	height: 110%;
}
.header__threads-info {
	background-color: #3b3b3b;
	color: #727272;
	font-size: 13px;
	padding: 3px 6px;
	border-radius: 20px;
}
.header__info-container {
	display: flex;
	justify-content: space-between;
}
button.primary {
	border: 1px solid #3b3b3b;
	background-color: transparent;
	padding: 7px;
	margin: 10px 0;
	border-radius: 7px;
	color: #ffffff;
	font-weight: bold;
	width: 100%;
}
.button-container button {
	width: 50%;
	border: none;
	background-color: transparent;
	padding: 7px;
	color: #ffffff;
	font-weight: bold;
	border-bottom: 1px solid #3b3b3b;
}

.button-container button.current {
	border-bottom: 2px solid #ffffff;
}
.feed-card {
	border-bottom: 1px solid #727272;
	padding: 10px 0;
}
.feed-card .text-container {
	display: flex;
	justify-content: space-between;
}
.feed-card .image-container {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
}
.feed-card .image-container img {
	height: 110%;
}
.feed-card .icons svg {
	height: 20px;
	padding: 0 5px;
}
